<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
   <div id="app">
        <button @click="onClick">Click me</button>
        <p>You clicked {{total}} times.</p>
        <p v-if="total<10">{{total}} times isn't enough.</p>

        <input v-model="name">
        <h1>Hello {{name}}</h1>
        
        <input type="range" min="0" max="100" v-model="percent">
        <p :style="{fontSize: percent + 'px'}">{{percent}}</p>
   </div>

   <script>
        Vue.createApp({
            data() {
                return {
                    total: 0,
                    name: "",
                    percent: 50
                }
            },
            methods: {
                onClick() {
                    this.total ++;
                }
            }
        }).mount("#app")
   </script>
</body>
</html>