* {
  margin: 0px;
  padding: 0px;
}

div {
  color: white;
}

.container {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-areas:
    "one one one one"
    "two two three three"
    "four five six seven";
  gap: 5px;
  height: 100vh;
}

.container > div {
  display: grid;
  align-items: center;
  justify-items: center;
}

.one {
  grid-area: one;
  background-color: salmon;
}

.two {
  grid-area: two;
  background-color: orange;
}

.three {
  grid-area: three;
  background-color: palegreen;
}
.four {
  grid-area: four;
  background-color: green;
}

.five {
  grid-area: five;
  background-color: paleturquoise;
}

.six {
  grid-area: six;
  background-color: palevioletred;
}

.seven {
  grid-area: seven;
  background-color: lightgray;
}

.a {
  background-color: peru;
}

.main img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
}
